
        table,td,th
        {
           border: 1px solid black;
           width: 33%;
           text-align: center;
           background-color: darkgray;
           border-collapse:collapse;
        }
        table{margin: auto;}
        input{text-align: right;}
